.checkContainer input {
  background-color: #fff;
}
.checkContainer {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
  width: 82vw;
}

.checkTitle {
  margin: 10px;
}

.checkNav {
  z-index: 10;
  position: fixed;
  left: 0;
  top: 0;
}

.checkImage {
  width: 40vw;
  height: 500px;
  background-image: url(../../assets/checkout-img.jpg);
  background-size: cover;
  background-position: center;
}

.checkForm {
  min-width: 450px;

  width: 40vw;
  max-width: 500px;
}
.checkCountry {
  border: solid 1px #000;
  padding: 0;
  width: 100%;
  margin: 5px auto;
}

.checkCountry div {
  border: none;
}
.vertical {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.horizontal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.horizontal input:last-child {
  margin-right: 0;
}
.horizontal input:first-child {
  margin-left: 0;
}
.horizontal input {
  width: 100%;
  height: 42px;
  margin: 5px;
}
.vertical input {
  width: 100%;
  height: 42px;
  margin: 5px;
  padding: 0;
}
.checkButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  padding: 0 5px;
}
.checkButtons button {
  padding: 10px;
}
.checkButtons a {
  letter-spacing: normal;
  color: #bf0eff;
}
@media (max-width: 1150px) {
  .checkImage {
    display: none;
  }
}
