/* Estilos para CartView */
.fullContainer {
  height: 100vh;
}

.cartTitle {
  margin: 90px auto 10px auto;
}

.buyButton {
  margin-bottom: 80px;
  margin-top: 10px;
  padding: 10px;
}

.deleteButton {
  border: solid 1px #000;
  background-color: #fff;
  color: red;

  letter-spacing: normal;
}

.cartNav {
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 100px; /* Ajusta la altura del pie de página aquí */
}

.totalPrice {
  font-size: 30px;
  margin-bottom: 10px;
}

.lastFlex p {
  margin: 0;
  text-transform: uppercase;
  font-weight: 500;
}

.lastFlex {
  width: 80vw;
  max-width: 900px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  text-align: right;
}

.catalogButton {
  padding: 10px 20px;
  margin: 50px;
}

.footer {
  display: block;
  left: 0;
  bottom: 0;
  width: 100%;
}

/* Estilos para el mensaje "El carrito se encuentra vacío" */
.cartContent {
  flex-grow: 1; /* Permite que el contenido crezca para ocupar el espacio disponible */
  padding: 20px; /* Añade un espacio alrededor del contenido del carrito */
}

.emptyCart {
  text-align: center;
  margin: 180px auto;
  padding: 20px;
  white-space: pre-line; /* Permite división de líneas */
  font-size: 20px; /* Tamaño de fuente más pequeño */
  border-radius: 10px;
  border: solid 1px #aaa;
  box-shadow: 0 0 30px #ccc;
  color: #000;
  width: fit-content;
}
