@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jomhuria&display=swap");
:root {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #000;
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h1,
h2,
h3 {
  text-transform: uppercase;
  margin: 0;
}

a {
  cursor: pointer;
  font-weight: 500;
  color: #000;
  transition: 500ms cubic-bezier(0.39, 0.575, 0.565, 1);
  letter-spacing: 1px;

  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  min-width: 320px;

  min-height: 100vh;

  overflow-x: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
h4 {
  font-weight: 500;
}

button {
  border-radius: 2px;
  border: 1px solid transparent;
  padding: 10px 0;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  text-transform: uppercase;
  text-align: center;

  background-color: #000;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #e100ff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

select {
  height: 40px;
  padding-inline: 10px;
  margin: 0 10px;

  background-color: #ffffff00;
  color: #000;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.05rem;
}
input {
  height: 35px;
  padding-inline: 10px;
  margin: 0;

  border: solid 1px #000;

  background-color: #ffffff00;
  color: #000;
  font-weight: 500;

  font-size: 14px;
  letter-spacing: 0.05rem;
}
input:focus {
  border: solid 1px #000;
  outline: solid 1px #000;
}
textarea {
  border: solid 1px #000;
  background-color: #fff;
  color: #000;
  height: 35px;
  padding-inline: 10px;
  resize: vertical;
}

label {
  text-transform: uppercase;
  margin-top: 5px;
}

option {
  margin: 5px 0;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #000;
    background-color: #ffffff;
  }
  a:hover {
    color: #e100ff;
  }
  button {
    background-color: #f9f9f9;
  }
}
