.backButton {
  position: fixed;
  top: 70px;
  left: 20px;
  border-radius: 50px;

  width: 60px;
  height: 60px;
  padding: 0;
  font-size: 40px;
  line-height: 0;
  letter-spacing: 0;
}
.userContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 100px;
}

.userImage img {
  height: 230px;
  width: 230px;
  background-position: center;
  background-size: cover;
  border-radius: 500px;
  border: solid 2px #000;
  margin-bottom: 20px;
}

/* HISTORIAL DE COMPRAS */
.purchaseContainer {
  width: 500px;
  height: 500px;
  border: solid 1px #ddd;
  padding: 30px;

  overflow-y: scroll;
}
.purchaseContainer p {
  text-align: left;
  margin: 50px 0;
}
.singlePurchase {
  border-bottom: solid 1px #ddd;
}

/* FAVORITOS */
.favoritesContainer h2 {
  margin: 20px 0;
}
.updateButton {
  width: 100%;
}
