.FilterBarContainer {
  z-index: 100;
  height: fit-content;
  max-height: 100%;
  width: 320px;

  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  top: 0;
  right: 0;

  padding: 0 30px;
}

.priceSelect input {
  width: 93%;
  margin: 10px 0;
}

.cleanButton {
  width: 90%;
  margin: 10px 0;
}

.selectContainer {
  position: fixed;
  top: 80px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  width: 320px;
  margin: 0 30px 0 0;
  background-color: #fff;
  padding: 30px;
}
.selectContainer select {
  position: sticky;
  top: 0;
  background-color: #fff;
  width: 100%;
  margin: 10px 0;
}

.genderFilter {
  background-color: #fff;
  width: 100%;
  margin: 0;
}
.categorySelect {
  background-color: #fff;
  width: 100%;
  margin: 0;
}
.orderSelect {
  background-color: #fff;
  width: 100%;
  margin: 0;
}
.sizesSelect {
  background-color: #fff;
  width: 100%;
  margin: 0;
}
.pricesSelect {
  background-color: #fff;
  width: 100%;
  margin: 0;
}
.priceSort {
  background-color: #fff;
  width: 100%;
  margin: 0;
}

.hidden .FilterBarContainer {
  position: absolute;
  right: -1000px;
}
.shown .FilterBarContainer {
  top: 70px;
  position: absolute;
}

.stickyButton {
  position: absolute;
  top: 20px;
  right: 444px;
}

.openButton {
  position: fixed;
  z-index: 99999;
}
