.footer {
  display: flex;

  justify-content: space-between;
  align-items: flex-start;

  height: auto;
  max-width: 100vw;

  padding: 20px;
  margin-top: 100px;

  text-align: left;

  background-color: #000;
  color: #fff;
}
.footer ul li:first-child {
  font-weight: 700;
  text-transform: uppercase;
}
.footer ul {
  margin: 30px 20px;
}

.leftFooter {
  width: 250px;
}
.leftFooter h1 {
  margin: 30px 20px;
  font-size: 25px;
}
.rightFooter {
  display: flex;
  flex-wrap: wrap;
  min-width: 350px;
  max-width: 60vw;
}

.mapContainer {
  width: 350px;
  margin: 36px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.redes {
  display: flex;
  gap: 35px;
  align-items: flex-end;
  height: 60px;
  font-size: 25px;
}
.footer a {
  color: #fff;
}
.footer a:hover {
  color: #bc64ff;
}
.rightFooter ul li {
  font-size: 14px;
}
.rightFooter a {
  font-size: 14px;
  font-weight: 400;
}

@media (max-width: 910px) {
  .footer {
    flex-wrap: wrap;
  }
}
