.passwordContainer {
  width: 400px;
  margin-left: 250px;
}
.passwordTitle {
  margin-bottom: 50px;
}
.passwordInputs {
  display: flex;
  flex-direction: column;
}
.passwordInputs label {
  margin-top: 40px;
  margin-bottom: 5px;
  text-align: left;
  font-weight: 600;
}
.passwordButton {
  padding: 10px 15px;
  margin-top: 50px;
  border-radius: 3px;
}
.error {
  color: red;
  position: fixed;
  margin-top: 110px;
}
