/* SearchBar.module.css */

.searchBarContainer {
  z-index: 1000;
  height: 60px;

  position: fixed;
  top: 0px;
  right: 0;

  padding-right: 30px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: #fff;
}

.flexSpace {
  flex: 1;
}

.access {
  text-decoration: none;
  margin: 0 16px;
  /* Estilos para los enlaces "ACCESO" y "CARRITO" */
}
.cart {
  font-size: 26px;
  line-height: 0;
  text-decoration: none;

  /* Estilos para los enlaces "ACCESO" y "CARRITO" */
}
