.pagination button {
  margin: 15px 3px 15px 5px;
  padding: 2px 5px;
}

.userTable {
  width: 85vw;
}
.input-text {
  width: 50%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 5px;
}

.userTable th,
.userTable td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  font-size: 11px;
  text-transform: uppercase;
}
.userTable td div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.userTable td div button {
  padding: 3px;
}
.userTable td input {
  height: 28px;
  width: 100px;
  margin: 0;
}
.userTable td select {
  margin: 0;
  font-size: 10px;
}

.userTable th {
  background-color: #f2f2f2;
}

.userTable tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.userTable tbody tr:hover {
  background-color: #ddd;
}

.userImage {
  max-width: 50px;
  max-height: 50px;
}
.profileImg {
  width: 50px;
}
