.aboutContainer {
  width: 90vw;
  padding: 5vw;
  margin: auto;

  background-color: black;
  background-image: linear-gradient(#222, #000);
  color: #fff;
}
.insideContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto;
  margin-top: 100px;
}
.flexContainer {
  display: flex;
  justify-content: space-around;
  gap: 80px;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 100px auto;

  max-width: 1200px;
}

.partContainer {
  text-align: left;
  width: 240px;
}

.whiteBar {
  width: 100vw;
  background-color: #fff;
}
.aboutDescription {
  max-width: 1000px;
  margin: 50px auto;
  font-size: 20px;
  display: block;
  background-color: #fff;
  color: #000;
  padding: 50px;
}

.aboutTitle {
  font-size: 70px;
  letter-spacing: 12px;
}
.aboutTeam {
  font-size: 30px;
  letter-spacing: 5px;
  margin: 100px 0;
}
.aboutNav {
  position: fixed;
  top: 0;
  left: 0;
}
