.logo:hover {
  border: solid 1px #cb48ff;
}
.logo h2:hover,
.logo span:hover {
  color: #cb48ff; /* Cambiar el color al pasar el mouse */
}
.logo {
  margin: 0;
  margin-bottom: 50px;
  width: 100px;
  display: block;
  line-height: 15px;
  font-size: 12px;
  padding: 10px 3px;
  border: solid 1px #fff;
}

.logo h2 {
  color: #fff;
  letter-spacing: -1px;
}
.logo span {
  letter-spacing: 0;
  color: #fff;
}

/* DashboardAdmin.module.css */

.sidebar {
  width: 120px;
  background-color: #000;
  color: #fff;
  padding: 20px;

  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 100;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin-top: 20px;
  text-align: center;
  text-transform: uppercase;
  line-height: 13px;
  width: 108px;

  border: solid 1px #fff;
  padding: 6px 0;
}
.sidebar ul li:hover {
  border: solid 1px #f948ff;
  color: #f948ff; /* Cambiar el color al pasar el mouse */
}

.sidebar a {
  text-decoration: none;
  color: #fff;
  font-size: 11px;
}

.title {
  z-index: 100;

  background-color: #000;
  color: #fff;
  padding: 10px;
  text-align: center;
  font-size: 12px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  left: 160px;
  right: 0;
  top: 0;
}

.logOutIcon {
  text-decoration: none;
  font-size: 26px;
  line-height: 0;
  margin: 5px 20px 0 0;
  color: #fff;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  padding: 80px 20px 0 180px;
  width: 84vw;
}
