.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh; /* Utiliza una unidad relativa (viewport height) para la altura */
}

.formContainer {
  margin: 120px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem; /* Utiliza unidades relativas para el espacio entre elementos */
  width: 80%; /* Utiliza un porcentaje del ancho del contenedor principal */
  max-width: 500px; /* Establece un ancho máximo para evitar que el formulario se expanda demasiado en pantallas grandes */
  padding: 1rem;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.inputForm[type="email"] {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.buttonForm {
  padding: 0.5rem 1rem;
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.buttonForm:hover {
  background-color: #b700cf;
}

.error {
  color: red;
  margin-top: 0.5rem;
}
.footer {
  bottom: 0;
}